*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/*HEADER*/

h1{
font-size: 3.5em;
margin-top: 10px;
color: white;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header div{
    text-align: center;
    height: 15vh;
    background-color:#4F78C5;
    width: 100%;
}

header nav{
    height: 15vh;
    background-color: #D29856; 
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a{
    text-decoration: none;
    color: #AD793E; 

}

.btn{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    width: 17vw;
}

.btn-color{
    background-color: white; 
    border: 2px solid black;
}


/**********************************/


/*SECTION watch*/
.watch{
    color:  #D29856;
    background-color: white ; 
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.watch h1{
    color: #D29856;
}

.next_watch{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contentWatch{
    background-color: white;
    color: #AD793E;
    width: 70vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 2px black solid;
}

.contentWatch h3{
    text-decoration: underline;
}

.spacing{
    width: 65vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*SECTION form*/

.form{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #D29856;
}

.form form{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
}

.form form p{
    font-size: 1.5em;
    font-weight: 200;
}

.col_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}


.input1{
    width: 20vw;
    border-radius: 5px;
    height: 3vh;
}

.col_form button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    width: 17vw;
    background-color: white; 
    border: 2px solid black;
    color: #D29856;
    margin-top: 4.5vh;
}

/*FOOTER*/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background-color: #4F78C5;
    color: white;
}
