<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/history.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <h1>My Tech-Watch Assignator</h1>
        </div>
        <nav>
            <button class="btn btn1 btn-color"><a href="http://localhost:8000/page_index">Home</a></button>
            <button class="btn btn-color"><a href="http://localhost:8000/page_assign">Tech-Watch Assignation</a></button>
            <button class="btn btn3 btn-color"><a href="http://localhost:8000/page_stud">Student list</a></button>
        </nav>
    </header>
    <section class="futur_watch">
        <h1>Next Tech-Watch</h1>
        <div class="next_watch">
            <div class="contentWatch">
                <h3>Base de données relationnelles</h3>
                <div class="spacing">
                    <p>Students Affiliate: Hakim -- Camille</p>
                    <p>When: Monday 20 July</p>
                </div>
            </div>
            <div class="contentWatch">
                <h3>Base de données relationnelles</h3>
                <div class="spacing">
                    <p>Students Affiliate: Hakim -- Camille</p>
                    <p>When: Monday 20 July</p>
                </div>
            </div>
        </div>
    </section>
    <section class="past_watch">
        <h1>Past Tech-Watch</h1>
        <div class="next_watch">
            <div class="contentWatch">
                <h3>Base de données relationnelles</h3>
                <div class="spacing">
                    <p>Students Affiliate: Hakim -- Camille</p>
                    <p>When: Monday 20 July</p>
                </div>
            </div>
            <div class="contentWatch">
                <h3>Base de données relationnelles</h3>
                <div class="spacing">
                    <p>Students Affiliate: Hakim -- Camille</p>
                    <p>When: Monday 20 July</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p>Copyright: Alban Meurice & Thomas Jamais</p>
        <p>Contact: korvin.meurice@gmail.com <br> thomas.jamais95@gmail.com</p>
    </footer>
    <script src="/serv.js"></script>
</body>
</html>